<div class="amiga-theme text-align: center;">
  <div class="in-game">
    Już niedługo rozpoczniesz swoją niezapomnianą przygodę w dystopijnym, cyberpunkowym świecie przyszłości, który
    przetrwał
    wiele kataklizmów i zagłady nuklearnej. Teraz możesz stać się częścią tej historii i wcielić się w swoją wymarzoną
    postać.<br /><br />

    Odkryj w sobie kreatywność i nadaj swojej postaci imię, które zapadnie w pamięć. Dobierz odpowiedni strój, kolory i
    styl, by wyróżniać się na tle innych graczy. Podziel się z nami zainteresowaniami Twojej postaci i wybierz zawód,
    który
    będzie odzwierciedlał jej charakter i umiejętności.<br /><br />

    Czy chcesz być odważnym wojownikiem, gotowym na każdą walkę? A może zdecydujesz się na role tajemniczego łowcy
    nagród,
    czy szpiega, który podstępem osiąga swoje cele? Niezależnie od wyboru, czekają na Ciebie wspaniałe przygody, pełne
    walki, intryg i zagadek do rozwiązania.<br /><br />
    <form>
      <table class="table-borderless">
        <tr>
          <th><label for="email">IMIĘ:</label></th>
          <th><input type="text" id="email" name="email" required></th>
        </tr>
        <tr>
          <th><label for="password">PROFESJA:</label></th>
          <th><input type="text" id="password" name="password" required></th>
        </tr>
        <tr>
          <th><label for="password">WYGLĄD:</label></th>
          <th><input type="text" id="password_confirmation" name="password_confirmation" required></th>
        </tr>
      </table>
      <a type="submit">REGISTER</a>
    </form>
  </div>
</div>