<div class="container-fluid container-with-menu">
  <!-- top menu -->
  <app-navigation *ngIf="topMenuVisible" class="menu-nav"></app-navigation>
  <div class="amiga-theme text-align: center;">
    <pre>

  ███▄▄▄▄      ▄████████  ▄█     █▄   ▄█     ▄████████
  ███▀▀▀██▄   ███    ███ ███     ███ ███    ███    ███
  ███   ███   ███    ███ ███     ███ ███▌   ███    ███
  ███   ███   ███    ███ ███     ███ ███▌   ███    ███
  ███   ███ ▀███████████ ███     ███ ███▌ ▀███████████
  ███   ███   ███    ███ ███     ███ ███    ███    ███
  ███   ███   ███    ███ ███ ▄█▄ ███ ███    ███    ███
   ▀█   █▀    ███    █▀   ▀███▀███▀  █▀     ███    █▀

  Cień snów przebrzmiałych
  </pre>
  </div>
  <!-- selected function -->
  <router-outlet></router-outlet>
</div>