body {
  background-color: black !important;
  color: #797979;
  font-family: 'VT323', monospace;
}

input[type="text"],
a,
em,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea {
  color: #41a541;
}

div.amiga-theme {
  font-family: 'VT323', monospace;
  background-color: black;
  color: #797979;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

button,
input[type="submit"] {
  background-color: #000;
  color: #41a541;
  border-bottom: #41a541;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: block;
  text-decoration: underline;
}

button:hover,
input[type="submit"]:hover {
  background-color: #000;
  border-bottom: #41a541;
}

label {
  display: block;
  margin-bottom: 10px;
  display: block;
  width: 100px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #41a541 !important;
  padding: 10px 10px;
  outline: none;
  color: #41a541 !important;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #000 !important;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #41a541 !important;
  padding: 10px 10px;
  outline: none;
  color: #41a541 !important;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #000 !important;
}

input[type="text"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid #41a541 !important;
  padding: 10px 10px;
  outline: none;
  color: #41a541 !important;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #000 !important;
}

textarea {
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #41a541;
  color: #797979;
}

textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px #41a541;
}

a {
  color: #2a692a !important;
  text-decoration: underline;
  border-bottom: 2px solid #41a541;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #41a541 !important;
  border-color: #44cc44;
}

.form-group-account {
  border: #41a541;
  border-style: dotted;
  padding: 10px 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
}

.login-btn {
  display: block;
  margin: 0 auto;
}

.navigation {
  background-color: black;
  color: #41a541;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #797979;
  padding: 10px 20px;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
}

.navigation .nav-item {
  font-weight: 300 !important;
}

.navigation li {
  margin-right: 10px;
}

.admin {
  display: none;
  /* ukryj nawigację dla administratora */
}

.admin.active {
  display: flex;
  /* pokazuj nawigację dla administratora */
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  color: #41a541;
  text-decoration: none;
}

.navigation a:hover {
  border-bottom: 2px solid #41a541;
}

.logout a {
  color: #41a541;
  text-decoration: none;
}

.logout a:hover {
  border-bottom: none;
}

.logout i {
  margin-right: 5px;
}

div .in-game {
  width: 640px;
  height: 480px;
  padding: 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border: #41a541;
  border-style: dotted;
  white-space: pre-line;
}

span .home-screen {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navigation li {
    margin-right: 40px;
  }
}

@media (min-width: 992px) {
  .navigation li {
    margin-right: 60px;
  }
}

@media (min-width: 1200px) {
  .admin {
    display: flex;
  }

  .logout {
    margin-left: auto;
  }
}