<div class="amiga-theme text-align: center;">
  <div class="in-game">
    Witaj w grze Nawia, cień snów przebrzmiałych!<br /><br />
    Jesteś teraz częścią światów przyszłości, które przetrwały wiele kataklizmów, w tym
    nuklearną zagładę i
    katastrofy
    klimatyczne. Jednak to nie wszystko - po odrodzeniu starej wiary Słowian, świat ten odsłania nowe, tajemnicze
    oblicze.<br /><br />

    W tym dystopijnym, cyberpunkowym świecie, Twoja misja jest prosta - przetrwać i odkrywać
    tajemnice, które
    kryją się
    za fasadą tego świata. Czekają na Ciebie walki z potężnymi bossami, zagadki do rozwiązania, niebezpieczeństwa,
    które
    czyhają na każdym kroku, oraz wiele innych niezapomnianych wyzwań.<br /><br />

    Czy jesteś gotowy na tę niebezpieczną przygodę? <br />Wyrusz w mroczną podróż do świata Nawii i
    <a [routerLink]="['/user-heroes']">stwórz
      swojego bohatera</a>! Jeżeli jednak utworzyłeś swój awatar, <a (click)="loadGame()">ponownie się w niego
      wciel</a>
    i przeżywaj kolejne przygody!
  </div>
</div>