<div class="amiga-theme">
  <pre>

███▄▄▄▄      ▄████████  ▄█     █▄   ▄█     ▄████████
███▀▀▀██▄   ███    ███ ███     ███ ███    ███    ███
███   ███   ███    ███ ███     ███ ███▌   ███    ███
███   ███   ███    ███ ███     ███ ███▌   ███    ███
███   ███ ▀███████████ ███     ███ ███▌ ▀███████████
███   ███   ███    ███ ███     ███ ███    ███    ███
███   ███   ███    ███ ███ ▄█▄ ███ ███    ███    ███
 ▀█   █▀    ███    █▀   ▀███▀███▀  █▀     ███    █▀

Cień snów przebrzmiałych
</pre>
  <form class="form-group-account" autocomplete="off">
    <table class="table-borderless">
      <tr>
        <th><label for="email">EMAIL:</label></th>
        <th><input type="email" id="email" name="email" required></th>
      </tr>
      <tr>
        <th><label for="password">PASSWORD:</label></th>
        <th><input type="password" id="password" name="password" required></th>
      </tr>
      <tr>
        <th><label for="password">CONFIRM PASSWORD:</label></th>
        <th><input type="password" id="password_confirmation" name="password_confirmation" required></th>
      </tr>
    </table>
    <a type="submit" (click)="Register()">REGISTER</a>
  </form>
</div>